# Ignore everything
*

# But not these files/folders
!src/
!src/**
!public/
!public/**
!images/
!images/**
!index.html
!package.json
!package-lock.json
!vite.config.ts
!tsconfig.json
!tsconfig.app.json
!tsconfig.node.json
!eslint.config.js
!README.md
!.gitignore
!LICENSE